.root {
}
.text {
  margin: 50px;
  font-size: 32px;
  text-align: start;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  margin-right: 60px;
  // outline: 1px solid rgba(200, 200, 200);
}
@media (max-width: 1010px) {
  .container {
    // display: grid;
    grid-template-columns: 1fr;
    & > div:nth-child(1) {
      display: none;
    }
  }
  .main {
    margin-left: 60px;
  }
}
