.root {
  display: flex;
  height: 150px;
  background-color: #ffffff;
  padding: 35px;
  display: flex;
  gap: 20px;
}
.imgBlock {
  & > a > img {
    height: 100%;
  }
}
.mainBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.topContent {
  display: flex;
  justify-content: space-between;
  & > span {
    font-size: 32px;
    font-weight: 500;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    & > a {
      font-size: 26px;
      color: #000;
      &:hover {
        transition: .25s;
        text-decoration: underline;
      }
    }
  }
}
.bottomContent {
  display: flex;
  justify-content: space-between;
  & > div {
    display: flex;
    align-items: center;
  }
  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 10px;
    & > button {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      margin-left: -5px;
      &:hover {
        transition: .25s;
        background-color: lightgray;
      }
    }
  }
}
.counter {
  border: 1px solid #000;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 30px;
  & button {
    border: none;
    background: none;
    cursor: pointer;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
      width: 16px;
      height: 16px;
      background: #000;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & > span {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  }
}
